@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #FFFFFF;
    --foreground: #171717;
    --one: #CC004B;
    --two: #E61846;
    --three: #FF2F41;
    --four: #FF5A1F;
    --five: #FF960E;
    --six: #FCBA24;
    --seven: #FFDC43;
    --contrast: #004AAD;
}

@font-face {
    font-family: "Agrandir";
    src: url("Agrandir-GrandHeavy.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body {
    font-family: "Agrandir";
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.02) 1%, transparent 1%);
    background-size: 3px 3px;
    pointer-events: none;
}

/* Custom styles */

.text-shadow {
    text-shadow: var(--contrast) 0 -10;
}